*{
    margin: 0;
    font-family: "Raleway", sans-serif;
}

body{
    background-color: #f5f8ff;
    margin: 0 auto;
}

/* -----Button Section---- */

button{
    font-size: 18px;
    font-weight: 500;
    background-color: #4E47FF;
    color: #ffffff;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}
button:hover{
    background-color: #8249ec;
    color: #ffffff;
}

/* --------nav bar section----- */

nav{
    background-image: url(./Assets/Hero-bg.png);
    height: 698px;
    max-width: 1440px;
    margin: 0 auto;
}
header{
    display: flex;
    height: 151px;
    max-width: 1140px;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}
header h1{
    font-size: 34px;
    font-weight: 900;
    color: #4E47FF;
}
header h1 span{
    font-size: 34px;
    font-weight: 900;
    color: #8249ec;
}

.bennar-section{
    font-size: 45px;
    font-weight: bold;
    /* height: 237px; */
    width: 905px;
    margin: 0 auto;
    text-align: center;
    color: #252432;
}
.bennar-section h2{
    padding-top: 158px;
    padding-bottom: 37px;
}

/* -----action-section------ */
.action-section{
    display: flex;
    max-width: 1140px;
    height: 328px;
    gap: 220px;
    margin: 0 auto;
    padding-top: 116px;
    padding-bottom: 116px;
    align-items: center;
}
.action {
    height: 203px;
    width: 517px;


}
.action-section img{
    border-radius: 48px;
}
.action-section, h3{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
}
.action p{
    font-size: 24px;
    font-weight: 400;
    color: #8d8e99;
    padding: 23px 0;
    
}